@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
.first_pic{
  width: 150px;
  height: 150px;
}@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
.first_pic{
  width: 150px;
  height: 150px;
}
h1{
  text-align:center;
  color: orange;
  margin: 0px;
  padding: 0px;
  font-size: 50px;
  font-family: Monotype Corsiva;
  text-transform: capitalize;
}
h2{
  margin-top: 0px;
  padding-top: 0px;
  padding: 20px;
  background-color:#00008B;
  color: white;
  border-radius: 5px;
}
.second_pic{
    width: 300px;
    height: 170px;
    border-radius: 12px;
}
table{
max-width: 150px;
min-height: 150px;
margin-top: 0px;
padding-top: 0px;
padding: 0px;
background-color:#00008B;
color: white;
border-radius: 5px;
border-collapse: separate;
border-spacing: 25px;
border: 1px black solid
}
td{
  font-size: 30px;
}
.td{
font-size: 30px;
color:#00008B;
}
tr{

}
p{
  font-size: 17px;
}
.shop{
  border-radius: 12px;
  font-weight: bold;
  font-size: 20px;
}
a{
  text-decoration: none;
  font-size: 20px;
  color: black;
}
.back{
  background-color: white;
  color: black;
}
footer{
  color: white;
  background-color:#00008B;
  padding: 30px;
  font-size: 20px;
  border-radius: 5px;
}
.rest{
  text-align: center;
}
.logo{
    width: 100%;
    height: 300px;
    border-radius: 12px;
}
input{
  border-radius: 20px;
  font-size:15px;
  font-weight: bold;
}

h1{
  text-align:center;
  color: orange;
  margin: 0px;
  padding: 0px;
  font-size: 50px;
  font-family: Monotype Corsiva;
  text-transform: capitalize;
}
h2{
  margin-top: 0px;
  padding-top: 0px;
  padding: 20px;
  background-color:#00008B;
  color: white;
  border-radius: 5px;
}
.second_pic{
    width: 300px;
    height: 170px;
    border-radius: 12px;
}
table{
max-width: 150px;
min-height: 150px;
margin-top: 0px;
padding-top: 0px;
padding: 0px;
background-color:#00008B;
color: white;
border-radius: 5px;
border-collapse: separate;
border-spacing: 25px;
border: 1px black solid
}
td{
  font-size: 30px;
}
.td{
font-size: 30px;
color:#00008B;
}
tr{

}
p{
  font-size: 17px;
}
.shop{
  border-radius: 12px;
  font-weight: bold;
  font-size: 20px;
}
a{
  text-decoration: none;
  font-size: 20px;
  color: black;
}
.back{
  background-color: white;
  color: black;
}
footer{
  color: white;
  background-color:#00008B;
  padding: 30px;
  font-size: 20px;
  border-radius: 5px;
}
.rest{
  text-align: center;
}
.logo{
    width: 100%;
    height: 300px;
    border-radius: 12px;
}
input{
  border-radius: 20px;
  font-size:15px;
  font-weight: bold;
}
